@charset "UTF-8";



html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

#wrapper {
  margin: 0 auto;
}


#breadcrumbs {
  padding: 1rem; 
}
#breadcrumbs ol {
  display: flex;
  color: #707070;
}
#breadcrumbs li::after {
  content: '/';
  display: inline-block;
  padding: 0 0.5rem; /*左右に余白*/
}
#breadcrumbs li:last-child::after {
  display: none;
}
#breadcrumbs a {
}

#nav_bar {
  background-color: #269512;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  position: fixed;
  bottom: 0;
  z-index:999;
  width: 100%;
}
#logo_caption {
  width: 30rem;
  display: flex;
}
#nav_bar h1 {
  color: #fff;
  font-size: 0.9rem;
  padding-left: 1.3rem;
  padding-right: 2.1rem;
}
#nav_bar span {
  display: block;
}
#pc_nav_site_ul {
  display: flex;
  justify-content: space-between;
  width: 50rem;
}
#pc_nav_site_ul li {
  color: #fff;
  font-size: 1.8rem;
}
#space {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 10.5rem;
}
#tips_link {
  padding: 0 1rem; 
}
#tips_link a {
  color: #fff;
  font-size: 1.8rem;
}
#pc_nav_site {
  display: none;
}
#nav-drawer {
  padding: 2.5rem 2rem 2.5rem 9.75rem;
}












/*============='サルワカ'よりハンバーガーメニューここから=========================*/
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #fff;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(235%);
  transform: translateX(235%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
#nav-content_large_ul {
  padding-top: 1rem;
  width: 100%;
  height: 30rem;
}
#nav-content_large_ul li {
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #707070;
}
#nav-content_small_ul {
  width: 100%;
}
#nav-content_small_ul li {
  color: #707070;
  padding: 1.5rem;
  font-size: 1.4rem;
  color: #707070;
}
/*============='サルワカ'よりハンバーガーメニューここまで=========================*/












#section_main_image_area {
  display: flex;
  justify-content: center;
  background-image: url("../img/top_bg/drawable-mdpi/top_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  width: 100%;
  position: fixed;
  z-index: -1;
}
#main_image_area {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
/*
#main_image_area h2 {
  color: #fff;
  font-size: 4rem; 
  font-weight: bold; 
  text-align: center;
  width: 31.9rem;
}*/





#section_search_area {
  display: flex;
  justify-content: center;
}
#search_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-top: 5rem;
  width: 37.5rem;
}
#search_area h2 {
  color: #fff;
  font-size: 4rem; 
  font-weight: bold; 
  text-align: center;
  width: 31.9rem;
}
#simple_search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}
.search_card {
  display: flex;
  justify-content: center;
  padding: 0.35rem 0.26rem;
  width: 48%;
}
.search_card img {
  height: 9.5rem;
  width: 8rem;
  padding-top: 1rem;
}
.search_card_title {
  display: flex;
  line-height: 0.8rem;
  justify-content: center;
  flex-wrap: wrap;
  color: #707070;
  font-size: 2rem;
  width: 10rem;
}
.search_card_title span {
  display: block;
}
.search_card li {
  border: 1px solid #269512;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 17rem;
  width: 17rem;
  background-color: #F7F7F7;
}
#form1_area {
  width: 37.5rem;
}
#form1 {
  background-color: #fff;
  border: 1px solid #269512;
  border-radius: 0.5rem;
  height: 4rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 100%;

}
input {
  color: #707070;
  font-size: 1.6rem;
}

#section_infomation_area {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#infomation {
  border: 1px solid #269512;
  border-radius: 0.5rem;
  padding-bottom: 0.29rem;
  width: 37.5rem;
  background-color: #F7F7F7;
}
#infomation  ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#infomation a {
  display: block;
  padding: 0.5rem 0.8rem;
  width: 100%;
}
#infomation li {
  /*box-shadow:0 0.3rem 0.3rem #707070;見直し！*/
  border: 1px solid #269512;
  border-radius: 0.5rem;
  height: 5.6rem;
}
#infomation_first {
  background-image: url("../img/top_article_icon/drawable-mdpi/top_article_icon.png");
  background-repeat: no-repeat;
  background-size: 5.5rem;
}
#infomation h2 {
  font-size: 2rem;
  color: #707070;
}
#infomation span {
  color: #707070;
  font-size: 1.8rem;
  position: relative;
  top: 19px;
  left: 99px;
}


#section_side_note_area {
  display: flex;
  justify-content: center;
  width: 100%;
}
#side_note {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 37.5rem;
}
#side_note a {
  width: 50%;
  padding: 0 0.5rem 1rem 0.5rem;
}
#side_note li {
  border: 0 solid #269512;
  border-radius: 0.5rem;
  background-color: #269512;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  width: 17rem; 
}
#side_note span {
  color: #FFFFFF;
  line-height: 5rem;
  font-size: 1.6rem;
}
footer {
  background-image: url("../img/shibafu-8/drawable-mdpi/shibafu-8.png");
  height: 16.1rem;
  text-align: center;
}
footer span {
  color: #FFFFFF;
  line-height: 13rem;
  font-size: 1.2rem;
}


/*  モバイル向けコンテンツの長さ  */
.mobile_width {
  width: 37.5rem;
}
.scrol_shift {
  position: relative;
  top: 10rem;
}



/* ======================================== */
/* search_map.html */
/* ======================================== */
#section_re_search_area {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
/*re_search_areaを削除しました20200924*/
#re_search_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #269512;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  height: 4rem;
  width: 37.5rem;
}
#re_search_button span {
  text-align: center;
  color: #707070;
  width: 35rem;
}
#re_search_pc {
  display: none;
}




#section_map {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50.2rem;
}


#map_canvas {
  width: 37.5rem;
  height: 50rem;
  background-color: olive;
}






/* ======================================== */
/* search_feature.html */
/* ======================================== */
#section_narrow_search_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 89.8rem;
  width: 100%;
}
#narrow_search_area {
  width: 37.5rem;
}
/* #local_selectとその中のspanの設定を削除しました2020924 */
#local_select {
  height: 3rem;
  width: 35rem;
}
#local_select span {
  font-size: 1.6rem;
  color: #707070;
}
/* .cp_ipselectと.cp_sl01関係を削除しました20200924 */
/* #largeulとそのul内のブロックに設定されているコードを削除しました20200924 */


/*#feature_search_buttonとその下のspan設定を削除しました20202924*/
#feature_search_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #269512;
  border-radius: 0.5rem;
  height: 4rem;
  width: 35rem;
}
#feature_search_button span {
  color: #707070;
  font-size: 1.6rem;
}



/* ======================================== */
/* result_deateails_feature.html */
/* ======================================== */
#section_result_expression_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 7.4rem;
}
#result_expression_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 37.5rem;
}
#result_expression_area h2 {
  border-left: 0.4rem solid #269512;
  color: #707070;
  height: 2.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding-left: 0.6rem;
  width: 100%;
}
#result_expression_area_image_area {
  height: 17rem;
  margin-bottom: 2rem;
  width: 37.5rem;
}
#result_expression_area_image_area img {
  max-width: 100%;
  height: auto;
  width /***/:auto;
}
#result_expression {
  height: auto;
  display: flex;
  justify-content: center;
}
#expression {
  display: flex;
  flex-wrap: wrap;
}
.feat_box {
  padding-top: 1rem;
  border-bottom: 0.1rem solid #707070;
}
#expression h3 {
  font-size: 1.4rem;
  color: #707070;
}
/*「特徴」表示全体の幅はここのwhidthによって決められているは*/
.feat_box ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 34rem;
  padding: 1rem 0;
}
.feat_box li {
  color: #fff;
  font-size: 1.3rem;
  height: 2.3rem;
  width: 7rem;
  text-align: center;
  border-radius: 0.8rem;
  line-height: 2.3rem;
  margin: 0 0.5rem;
}
/* featは「詳細」画面の「特徴」表示関係 */
#feat-01 li {
  background-color: #374AE0;
  border: 0.1rem solid #374AE0;
}
#feat-02 li {
  background-color: #FF962C;
  border: 0.1rem solid #FF962C;
}
#feat-03 li {
  background-color: #00AF07;
  border: 0.1rem solid #00AF07;
}
#feat-04 li {
  background-color: #CC5A12;
  border: 0.1rem solid #CC5A12;
}
#feat-05 li {
  background-color: #1293CC;
  border: 0.1rem solid #1293CC;
}
#feat-06 li {
  background-color: #CC1268;
  border: 0.1rem solid #CC1268;
}
#feat-07 li {
  background-color: #707070;
  border: 0.1rem solid #707070;
}
/* natrは「詳細」画面の「写真」表示関係 */
/*「写真」表示全体の幅はここのwidthによって決められている*/
#natr {
  width: 37.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*#insect, #bird, #plant {
  height: 30rem;
}*/
.natr_card {
  height: 12rem;
}
.natr_card span {
  width: 7rem;
  height: 1.8rem;
  display: inline-block;
}
.natr_image_include {
  height: 7rem;
  width: 7rem;
  border: 1px solid #707070;
  border-radius: 0.5rem;
}
#natr ul {
  display: flex;
  height: 22rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
#natr li {
  margin: 0 1rem 0.5rem 1rem;
}
/* overviewは「詳細」画面の「写真」表示関係 */
#overview {
  width: 35rem;
}
#overview_map {
  width: 100%;
  height: 27rem;
}
#overview_map h3 {
  padding: 2rem 0;
}
#overview_map_exp {
  width: 100%;
  border: 1px solid #707070;
  height: auto;
}
#overview_map_exp img {
  max-width: 100%;
  height: auto;
  width /***/:auto;
}
#overview_infomation {
  width: 100%;
}
#overview_infomation_details {
  width: 100%;
}
#overview_infomation_details tr {
  line-height: 5rem;
  height: 2rem;
  border-bottom: 1px solid #707070;
}
#overview_infomation_details th, td {
  height: 2rem;
  font-weight: normal;
  color: #707070;
  font-size: 1.2rem;
}


/* https://web.monogusa-note.com/flexible-tabs-only-cssのラジオボタン描画 */

.tab-label {
    color: #707070;
    border-bottom: 1px solid #707070;
    font-size: 1.4rem;
    height: 2.3rem;
    line-height: 0rem;
    padding: 1rem;
    text-align: center;
    order: -1;
    width: 9rem;
}
.appeal {
    width: 100%;
    display: none;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    font-weight: bold;
    border-bottom: 0.3rem solid #269512;
}
.tab-switch:checked+.tab-label+.appeal {
     display: block;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

/* wordmouth_area_incは「マップ」と「基本情報」を内包し幅と高さを決める */
#wordmouth_area_inc {
  padding-top: 1rem;
}
#wordmouth_area {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#wordmouth_area a {
  border: 1px solid #269512;
  border-radius: 0.5rem;
  color:  #269512;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8rem 5rem;
}
.wordmouth {
  color: #707070;
  border: 1px solid #707070;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 6px rgba(0,0,0,.15);
  padding: 1rem;
  margin-bottom: 1rem;
}
.wordmouth h3 {
  font-weight: bold;
}
.wordmouth ul {
  display: flex;
  padding: 1rem 1rem 1rem 0;
}
.wordmouth li {
  padding-right: 1rem;
}
#form_area {
  padding: 5rem 0;
}
#form_area h3 {
  padding-bottom: 2rem;
}
#form_area label {
  display: block;
  color: #707070;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 2rem 0 1rem 0;
}
#form_area textarea, #form_area input[type="text"] {
  border: 1px solid #707070;
  border-radius: 0.5rem;
  width: 100%;
}
#form_area select {
  border: 1px solid #707070;
  border-radius: 0.5rem;
  color: #707070;
  font-size: 1.2rem;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}
/* 「必須項目入力してください」と隙間を開けるためmargin-bottom */
.form_block {
  display: block;
  margin-bottom: 1rem;
}
.pd_right {
  padding-right: 1rem;
}
#form_area select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}
#form_area select::-ms-expand {
  display: block;
}
input[type="submit"] {
  border: 1px solid #269512;
  border-radius: 0.5rem;
  background-color: #269512;
  color:  #fff;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8rem 5rem;
}
.require {
  color: #ff3333;
}
p.require {
  border: 1px solid #ff3333;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}
#submit {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
/* 「もっと表示する」機能css */
/* https://copypet.jp/502/よりコピペしてくる 一部改変 */
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cp_box {
	width: auto;
  margin: 2em auto;
}
.cp_box label {
	position: relative;
	display: block;
	width: 80%;
	margin: auto;
	padding: 0.3em 1em;
	cursor: pointer;
	transition: all 0.3s;
	text-align: center;
	color: #707070;
}
.cp_box label:hover {
  transition: all 0.3s;
  font-weight: bold;
}
.cp_box input {
  display: none;
}
.cp_box .cp_container {
	position: relative;
	z-index: 10;
	overflow: scroll;
  height: 20rem;
	margin-top: -1px;
	transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	background: rgba(255, 255, 255, 0.5);
}
.cp_box input:checked ~ div {
	transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}
/* 続きを読むを押すと表示されるテキストの高さ */
.cp_box input:checked ~ div.cp_container {
	height: 50rem;
}
/* 「もっと表示する」機能css終わり */
/* ======================================== */
/*  searched_catalog.html */
/* ======================================== */
#section_re_choices {
  display: flex;
  align-content: center;
  justify-content: center;
  /* height: 10rem; */
  flex-wrap: wrap;
}
#section_catalog_result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#catalog_result {
  width: 37.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#catalog_result h2 {
  border-left: 0.4rem solid #269512;
  color: #707070;
  height: 2.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding-left: 0.6rem;
  width: 100%;
}
#catalog_result dl {
  display: flex;
  width: 100%;
  height: 2rem;
}
#catalog_result dt {
  line-height: 2rem;
  font-size: 1.6rem;
  color: #707070;
  padding-right: 2.4rem;
}
#catalog_result dl {
  line-height: 2rem;
  font-size: 1.2rem;
  color: #707070;
  padding-right: 1.7rem; /*  ききません */
}
#section_catalog_ex {/* これは#section_catalog_resultの中のsection  */
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  width: 100%;
}
#catalog_ex {
  width: 37.5rem;
}
.catalog_ex_item {
  width: 35rem;
  height: 21rem;
  padding: 1rem 0;
}
.catalog_ex_item_inner {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  border: 0.1rem solid #707070;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}
.catalog_ex_item_inner h3 {
  height: 5rem;
  width: 30rem;
  font-size: 1.8rem;
  color: #707070;
  border-bottom: 0.1rem solid #707070;
}
.catalog_ex_item_inner_address {
  font-size: 1.2rem;
  height: 3.3rem;
  color: #707070;
  padding: 0.7rem 0;
}
.catalog_ex_item_inner_picture {
  height: 7.7rem;
  width: 15.8rem;
}
.catalog_ex_item_inner_picture img {
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
  width /***/:auto;
}
.catalog_ex_item_inner_tag_area {
  position: relative;
  padding: 0 1rem;
  width: 15.2rem;
  height: 7.7rem;
}
.catalog_ex_item_inner_tag {
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  background-color: #00AF07;
  display: inline-block;
  padding: 0.4rem 1rem; 
  font-size: 1.2rem;
  color: #fff;
}
.catalog_ex_item_inner_baloon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4rem;
  height: 3.6rem;
  background: no-repeat url(../img/baloon/drawable-mdpi/baloon.png);
  position: absolute;
  bottom: 0;
  right: 0;
}
.catalog_ex_item_inner_baloon span {
}
.catalog_ex_item_inner_anker a {
  font-size: 1.4rem;
  color: #707070;
  height: 7.7rem;
}

/* ======================================== */
/*  infomation.html */
/* ======================================== */
#section_inform_head_area {
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#inform_head_area {
  display: flex;
  justify-content: center;
  align-items: center;
  width:  37.5rem;
  height: 100%;
  background: no-repeat url(../img/park_head_naruhodo/drawable-mdpi/park_head_naruhodo.png);
}
#inform_head_area span {
  color: #fff;
  font-size: 2rem;
}
#section_inform_descr_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#inform_descr_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 37.5rem;
  padding: 4rem 0;
}
#inform_descr_area h3 {
  color: #269512;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
}
.inform_descr {
  width: 100%;
}
.inform_descr h4 {
  font-weight: bold;
  color: #707070;
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
}
.inform_descr p {
  color: #707070;
  font-size: 1.2rem;
}

/* ======================================== */
/* contact.html */
/* ======================================== */
#section_contact_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
#contact_head_sub_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.3rem;
  background-color: #269512;
  width: 100%;
}
#contact_head_area span {
  font-size: 2rem;
  color: #fff;
}
#contact_form_area {
  padding-top: 3rem;
  width: 37.5rem;
}
#contact_form_area form {
  width: 100%;
}
#contact_form_area input {
  border: 0.1rem solid #707070;
  border-radius: 0.5rem;
  height: 3rem;
  width: 35rem;
}
#contact_form_area label {
  padding: 3rem 0 1rem 0;
  display: block;
  color: #707070;
  font-size: 1.6rem;
}
#contact_form_area textarea {
  width: 35rem;
  height: 10rem;
  border: 0.1rem solid #707070;
  border-radius: 0.5rem;
  font-size: 2rem;
}
/* ======================================== */
/* 共通項目 */
/* ======================================== */

/* 開いたり閉じたりする「条件を変更して検索する機能」 */
/*外殻のdiv。これをコピーすれば開閉機能を持つ再検索のシステムを設置できる*/
#re_search_area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 37.5rem;
}
/* 「条件を変更して検索する」ボタンは開閉機能を持つ。 */
#re_search_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #269512;
  border-radius: 0.5rem;
  height: 4rem;
  width: 35rem;
  margin-right: 2rem;
}
#re_search_button span {
  color: #707070;
  font-size: 1.6rem;
}
/* これは上のボタンと同じ */
#re_choice_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #269512;
  border-radius: 0.5rem;
  height: 4rem;
  width: 35rem;
  margin-right: 2rem;
}
#re_choice_button span {
  color: #707070;
  font-size: 1.6rem;
}
#check, #btn {
  display:none;
}
label[for="btn"] {
  display:block;
}
input[type="checkbox"]:checked + #check {
  display:block;
}
#btn:checked + #check {
  display:block;
}
/* これ以降は開いた後に表示されるもので「search_feature.html」が
機能としてそのまま持つ。つまり#re_search_featureをコピーすれば開いた後の
表示を持つことができる */
 #re_search_feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5rem;
}
/* 「地域」のドロップダウンメニュー */
#local_select {
  height: 3rem;
  width: 35rem;
}
#local_select span {
  font-size: 1.6rem;
  color: #707070;
}
.cp_ipselect {
  overflow: hidden;
  width: 90%;
  text-align: center;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}
/* #largeulは大きなチェックボックス群を持つ */
#largeul {
  padding: 5rem 0;
}
#largeul div li:first-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ck-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.6rem 1.6rem 0 1.6rem;
}
.ck-list label {
  color: #707070;
  font-size: 1.2rem;
}
.ck-list li {
  padding: 0.5rem 0;
}
/* .check_cardはチェックボックス群を包括する「ジャンル」ブロックである */
.check_card {
  width: 31.5rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #707070;
  padding-bottom: 1rem;
}
/* .all-ckは「ジャンル」の名を表し、チェックボックス群を全て選択した時と同じ
「全チェック」機能を持つ   */
.all-ck label {
  font-size: 1.6rem;
}
#input-01 .all-ck label {
  color: #1293CC;
}
#input-02 .all-ck label {
  color: #FF962C;
}
#input-03 .all-ck label {
  color: #269512;
}
#input-04 .all-ck label {
  color: #CC5A12;
}
#input-05 .all-ck label {
  color: #1293CC;
}
#input-06 .all-ck label {
  color: #CC1268;
}
#input-07 .all-ck label {
  color: #707070;
}

/* ======================================== */
/* メディアクエリ */
/* ======================================== */

@media (min-width: 1000px)
  {
    #wrapper {
      /*width: 100rem;*/
  }
  header {
    height: 4.5rem;

  }
  /* width: 37.5rem;の設定をもつもの */
  #main_image_area, #infomation,#form1_area, #form1 ,#re_search_area,
  #narrow_search_area, #result_expression_area,
   #natr, #overview_map, #overview,#catalog_ex, #catalog_result,
   #local_select, #re_search_button, #re_choice_button, .catalog_ex_item,
   #inform_head_area, #inform_descr_area, #contact_form_area
   {
    width: 100rem;
  }
  /* index.html */
  #section_main_image_area {
    background-image: url("../img/top-head2/drawable-mdpi/top-head2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70rem;
    position: static;
    z-index: auto;
  }
  #section_search_area {
    background-color: #FFFFFF;
  }
  #search_area,
  #side_note {
    width: 101.5rem;
  }
  #search_area {
    height: 47rem;
    position: relative;
    top: -20rem;
  }
  #search_area h2 {
    font-size: 8.8rem;
    width: 89.9rem;
    position: relative;
    top: -20rem;
  }
  .scrol_shift {
    position: static;
  }
  #result_expression_area_image_area {
    margin-bottom: 10rem;
    width: 100rem;
    height: 40.7rem;
  }
  .search_card {
    width: 25%;
  }
  .search_card li {
    height: 24.1rem;
    width: 24.1rem;
  }
  .search_card img {
    height: 16rem;
    width: 16rem;
  }/*<div class="search_card_title">地図から<span>探す</span></div>*/
  .search_card_title {
    line-height: 2rem;
    font-size: 3.2rem;
    width: 16rem;
  }
  .search_card span {
  }
  #section_infomation_area {
    background-color: #F7F7F7;
  }
  #infomation a {
    width: 50%;
  }
  #side_note a {
    width: 25%;
  }
  #side_note li {
    width: 23.9rem;
    height: 7rem;
  }
  #side_note span {
    line-height: 7rem;
    font-size: 2.2rem;
  }
  footer span {
    font-size: 2.2rem;
  }
  #nav_bar {
  position: fixed;
  top: 0;
  z-index:999;
  }
  #pc_nav_site  {
  display: flex;
}
  #nav-drawer, #breadcrumbs {
    display: none;
  }
  #section_re_search_area {
    height: auto;
  }
  #map_canvas {
  height: 50rem;
  width: 100rem;
}
  #re_search_pc {
    height: 100%;
    width:100%;
    display: block;
    padding-top: 5rem;
  }
  .cp_ipselect {
  overflow: hidden;
  width: 90%;
  text-align: center;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}
.ck-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.6rem 1.6rem 0 1.6rem;
}
.ck-list label {
  color: #707070;
  font-size: 1.2rem;
}

#largeul div li:first-child {
  display: flex;
  justify-content: space-between;
}
/*  開閉再検索 */
#re_search_button {
  margin: 0;
}
#re_choice_button {
  margin: 0;
}
#largeul li:first-child div {
  width: 31.5rem;
}
.all-ck label {
  font-size: 1.6rem;
}
#input-01 .all-ck label {
  color: #1293CC;
}
#input-02 .all-ck label {
  color: #FF962C;
}
#input-03 .all-ck label {
  color: #269512;
}
#input-04 .all-ck label {
  color: #CC5A12;
}
#input-05 .all-ck label {
  color: #1293CC;
}
#input-06 .all-ck label {
  color: #CC1268;
}
#input-07 .all-ck label {
  color: #707070;
}
#largeul_li_a {
  border-bottom: 0.1rem solid #707070;
  padding-bottom: 1rem;
}
#largeul_li_b {
  border-bottom: 0.1rem solid #707070;
  padding-bottom: 1rem;
}
 #re_search_feature {
    height: 100%;
    width:100%;
    display: block;
    padding-top: 5rem;
  }
  .check_card {
    border: none; 
  }
  .feat_box ul {
    justify-content: flex-start;
    width: 100rem;
  }
  .natr_image_include {
    width: 13rem;
    height: 13rem;
  }
  #natr ul {
    margin-bottom: 12rem; 
  }
  #natr li {
    margin: 0 1rem 5rem 1rem;
  }
  .natr_card span {
    width: 13rem;
  }
  #overview_map {
    height: 50.7rem;
  }
  #overview_map_exp {
    height: auto;
  }
  #overview_infomation {
    padding: 10rem 0;
  }
  /* searched_catalog.html */
  .catalog_ex_item_inner {
    position: relative;
  }
  .catalog_ex_item_inner_picture {
    height: 14rem;
    width: 35rem;
    order: 0;
    padding-right: 1rem;
  }
  .catalog_ex_item_inner h3 {
    height: 4rem;
    width: 50rem;
    order: 1;
  }
  .catalog_ex_item_inner_anker {
    position: absolute;
    left: 95rem;
    top: 10rem;
    height: 5rem;
    order: 2;
  }
  .catalog_ex_item_inner_address {
    position: absolute;
    left: 36rem;
    top: 5rem;
    width: 55rem;
    order: 3;
  }
  .catalog_ex_item_inner_tag_area {
    position: absolute;
    left: 36rem;
    top: 10rem;
    height: 5rem;
    width: 55rem;
    order: 4;
  }
  /*  infomation.html  */
  #inform_head_area {
    background-size: 100% 100%;
  }
  /* contact.html */
  #contact_form_area input,
  #contact_form_area textarea
  {
    width: 90%;
  }
  /* result_deateails_feature.html */
  .tab-label {
    width: 25%;
  }
}